.pic_text {
	/*background: #eeeeee; */

	font-weight: bold;
	font-size: 80%;

	padding:	10pt 10pt 10pt 10pt;
/*	margin:		10pt 10pt 10pt 10pt;  */
}

.pic {
	padding-bottom:	20pt;
	padding-top:	20pt;
}
